FROM alpine:3.8

RUN apk update \
	&& apk add bacula-libs \
	&& rm /var/cache/apk/*

{% if mode in ["client", "console"] %}
RUN apk update \
	&& apk add bacula-client \
	&& rm /var/cache/apk/*

{% if mode == "console" %}
RUN rm /etc/bacula/bacula-fd.conf
{% endif %}

{% endif %}

{% if mode in ["director", "storage"] %}

RUN apk update \
	&& apk add bacula \
	&& rm /var/cache/apk/*

{% if mode == "director" %}
RUN apk update \
	&& apk add bacula-mysql \
	&& rm /var/cache/apk/* \
	&& rm /etc/bacula/bacula-sd.conf
{% endif %}

{% if mode == "storage" %}
RUN rm /etc/bacula/bacula-dir.conf
{% endif %}

{% endif %}

{% if mode == "director" %}
CMD ["/usr/sbin/bacula-dir", "-fP"] 
{% elif mode == "storage" %}
CMD ["/usr/sbin/bacula-sd", "-fP"]
{% elif mode == "client" %}
CMD ["/usr/sbin/bacula-fd", "-fP"]
{% elif mode == "console" %}
ENTRYPOINT ["/usr/sbin/bconsole"]
{% endif %}
